@tailwind base

@tailwind components

@tailwind utilities

.dropzone
  border: dashed 2px transparent
  border-radius: 4px
  width: 80%
  transition: background-color 0.3s

.dropzone

  &.dropped
    color: #000

.drop-active
  border-color: #222

.drop-target
  background-color: #29e
  border-color: #fff
  border-style: solid

.drag-drop
  position: absolute
  left: 25%
  color: #fff
  border: solid 2px #fff
  touch-action: none
  transition: background-color 0.3s

  &.can-drop
    color: #000
    @apply bg-yellow-400
